<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Title</title>
        <link rel="stylesheet" href="theme.css" />
    </head>
    <body>

    <div class="container pt-5" id="app">
        <div class="card center">
            <h1>{{title}}: {{counter}}</h1>
            <div>
                <button class="btn primary" v-on:click="counter++">Добавить</button>
                <button class="btn danger" v-on:click="counter--">Вычесть</button>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
    </body>
</html>